.App {
  margin-top: 1rem;
}

.App p {
  margin: 0 0 0.5em;
  line-height: 1.2;
}

.App pre {
  margin: 0;
}

.App pre .left {
  float: left;
}

.App pre .right {
  float: right;
}

.App abbr[title] {
  cursor: help;
  text-decoration: none;
}

.App .label {
  user-select: none;
  cursor: default;
}

.App .ui.accordion {
  margin: 0.5rem 0;
}

.App .ui.accordion .title {
  padding: 0;
}

.App .ui.checkbox {
  margin: 0 0.2em;
}

.App .ui.checkbox label {
  padding-left: 20px;
  font-size: 12px;
}

.App .ui.dropdown > .dropdown.icon {
  margin-left: 0.2em;
  margin-right: 0;
}

.App .ui.dropdown {
  font-size: 12px;
}

.App .ui.dropdown .menu {
  margin: 0.5rem 0;
}

.App .ui.dropdown .menu > .item {
  font-size: 12px;
}

.App .ui.dropdown.inline {
/*  margin: 0 4px 2px 0;*/
}

.App .ui.header {
  margin-top: 0;
}

.App .ui.input > input {
  padding: 4px 7px;
}

.App .ui.dropdown.multiple {
  padding: 0;
}

.App .ui.dropdown.multiple > .text {
  margin: 0;
}

.App .ui.dropdown.multiple > .label {
  vertical-align: baseline;
  box-shadow: none;
  padding: 4px 7px;
}

.App .ui.label {
  padding: 4px 7px;
}

.App .ui.label {
  margin: 2px 4px 2px 0;
}

.App .ui.labels > .label {
  margin: 2px 4px 2px 0;
}

.App .ui.label > .detail {
  margin-left: 0.25em;
}

.App .ui.label.basic > .ui.dropdown .menu {
  margin: 1rem 0 1rem -8px;
}

.App .ui.label.basic.add {
  border-style: dashed;
  font-weight: normal;
}

.stats, p.stats {
  font-size: 12px;
  line-height: 1;
}
